body {
    background-color: rgba(255, 255, 221, 0.7);
    color: #016A70;
    font-family: Helvetica, sans-serif;
}

h1 {
    text-align: center;
}
.container {
    display: flex;
    justify-content: center;
}

.child {
    width: 500px;
}